/**
    Proyecto para las FlashCards
    Licencia: GPL v3
*/
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
   
    /* RESOLUCIÓN */
    height: 100%;
    font-family: Rubik;
}

/*  
    ========================================================
                ==   Sección NAV       ==
    ========================================================
*/

nav {
    background-color: #ECEFF4;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center; /* Horizontally space-out items */
    align-items: center; /* Vertically center align items */
    
    
}
nav a {
    padding: 5px;
    margin: 25px;
    color: #4c566a;
    text-decoration: none;
    font-size: 1.5em;
}

nav a:hover{
    transition: 1s;
    background-color: #abafb4;
    border-radius: 10px;
}

nav button img {
    border: 0;
    width: 30px;
    height: 30px;
}

/*
    Modos día/noche
*/
#modes {
    float: right;
}


/*  
    ========================================================
                ==   Sección MAIN       ==
    ========================================================
*/

main {
    clear: right;
    background-color: aquamarine;
}

#paneles {
     /* Está puesto aproximadamente al centro (hay que poner la resolución bien y centrarlo correctamente) */

}

#pnlImagen {
    margin: auto;
    background-color: white;
    width: 200px;
    height: 250px;
    box-shadow: 1px 1px 2px 0px;
    border-radius: 12px;
}

#pnlImagen img {
    width: 100%;
    height: 250px;
    border-radius: 12px;

    /*margin: 20px 50px 20px 50px;*/
}

/*  
    ========================================================
                **  Paneles de Botones    **
    ========================================================
*/

#pnlBotones {
    margin: auto;
    margin-top: 20px;
    background-color: white;
    width: 200px;
    height: 100px;
    border-radius: 10px;
    box-shadow: 1px 1px 2px 0px;
}

#pnlBotones button {
    margin: 10px;
    cursor: pointer;
    padding: 5px;
    border: none;
    border-radius: 10px;
    font-size: 0.9em;

}

#btnCorrect {
    background-color: green;
    color: white;
}

#btnIncorrect {
    background-color: red;
    color: white;
}
#team1, #team2 {
    position: relative;
    padding: 0.5em 1em;
    border: 0;
    border-radius: 0.5em;
    background-color: pink;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
    cursor: pointer;
  }
#team1:active, #team2:active, .active {
  top: 2px;
  left: 1px;
  box-shadow: none;
}


.toggleEquipos {
    width: 100%;
    padding: 25px;
    background-color: #e5e5e5;
    color: white;
    font-size: 25px;
    text-align: center;
}

/*  
    ========================================================
                ==   Sección FOOTER       ==
    ========================================================
*/

footer {
    background-color: #eceff4;
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 0;
}

footer svg {
    width: 100%;
    height: 110px;
}
#imgTam {
    width: 10%;
}