/**
    Proyecto para las FlashCards
    Licencia: GPL v3
*/
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
   
    /* RESOLUCIÓN */
    height: 100vh;
    font-family: Rubik;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-image: url('../img/AdobeStock_260966672.jpeg');
}

/*  
    ========================================================
                ==   Sección NAV       ==
    ========================================================
*/

nav {
    background-color: #ECEFF4;
    width: 100%;
    height: 100px;
    display: flex;
    
    
}
nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; /* Horizontally space-out items */
    align-items: center; /* Vertically center align items */
}
nav ul li {
    display: inline-block;
    list-style-type: none;
}
nav ul li a {
    padding: 5px;
    margin: 25px;
    color: #4c566a;
    text-decoration: none;
    font-size: 1.5em;
    
}
nav ul li button{
    padding: 5px;
    margin: 25px;
    border: none;
    border-radius: 10px;

    display: inline-block;
}
nav ul li img{
    width: 20%;
    margin: auto;
}
nav ul li:first-child {
    margin-right: auto;
}

nav a:hover{
    transition: 1s;
    background-color: #abafb4;
    border-radius: 10px;
}

nav ul li button img {
    width: 30px;
    height: 30px;
}

/*
    Modos día/noche
*/
#modes {
    float: right;
}


/*  
    ========================================================
                ==   Sección MAIN       ==
    ========================================================
*/

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 10;
    transform: translate(-50%, -50%);
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
    padding: 5px;
    max-width: 80%;

    transition: 300ms ease-in-out;
    /*opacity: 1;*/

}


.popupTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid black;
    padding-bottom: 5px;
    font-size: 18px;   
}

.close-Button {
    cursor: pointer;
    color: black;
    font-weight: bold;
    
}


#pnlImagen {
    position: relative;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    width: 40%;
    min-height: 300px;
    box-shadow: 0px 5px 13px 5px;
    border-radius: 12px;
}

#pnlImagen img {
    width: 100%;
    height: auto;
    min-height: 300px;
    border-radius: 12px;

    /*margin: 20px 50px 20px 50px;*/
}

/*  
    ========================================================
                **  Paneles de Botones    **
    ========================================================
*/

#pnlBotones {
    margin: auto;
    margin-top: 20px;
    background-color: white;
    width: 40%;
    height: 150px;
    border-radius: 10px;
    box-shadow: 0px 5px 13px 5px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    
}
#pnlBotones > button {
    flex: 30%;
    margin: 0 30px;
}
#pnlBotones button{
    cursor: pointer;
    color: white;
    padding: 0.5em 1em;
    border: none;
    border-radius: 0.5em;
    font-size: 1em;
    background-color: #059dfc;
    
}
button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    transition: 0.3s;
}

#btnCorrect {
    background-color: rgb(94, 207, 94) !important; 
    color: white;
}

#btnIncorrect {
    background-color: rgb(235, 88, 88) !important;
    color: white;
}
#team1, #team2 {
    padding: 0.5em 1em;
    font-size: 1em;
    border: none;
    border-radius: 0.5em;
    color: white;
    background-color: rgb(59, 93, 248);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
    cursor: pointer;
  }
#team1:active, #team2:active, .active {
  top: 2px;
  left: 1px;
  box-shadow: none;
}


.toggleEquipos {
    width: 100%;
    padding: 25px;
    background-color: #e5e5e5;
    color: white;
    font-size: 25px;
    text-align: center;
}

/*  
    ========================================================
                ==   Sección FOOTER       ==
    ========================================================
*/

footer {
    margin-top: 100px;
    height: auto;

    /*position: absolute; <- Probar en diferentes resoluciones, en Desktop funciona bien, en otras se descuadra.
    bottom: 0;*/

    background-color: #eceff4;
    width: 100%;
    display: flex;
    align-items: center;
}
footer p{
    margin-left: auto;
    margin-right: 29%;
}

footer div a img{
    width: 100%;
    height: 100px;
    float: right;
}
#imgTam {
    width: 10%;
}

/*  
    ========================================================
                ==   Sección POP UP TEAMS       ==
    ========================================================
*/
#score {
    width: 500px;
    display: block;
    padding: 30px;
    margin: 40px auto;
    text-align: center;
    box-sizing: border-box;
    background-color: gray;
}

#local {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    float: left;
    font-weight: bold;
}

#VS {
    color: white;

}

#visitante {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    float: right;
    font-weight: bold;

}