/**
    Proyecto para las FlashCards
    Licencia: GPL v3
*/
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
   
    /* RESOLUCIÓN */
    min-height: 100vh;
    font-family: Rubik;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-image: url('../img/AdobeStock_260966672.jpeg')
}

/*  
    ========================================================
                ==   Sección NAV       ==
    ========================================================
*/

nav {
    background-color: #ECEFF4;
    width: 100%;
    height: 100px;
    display: flex;
    
    
}
nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; /* Horizontally space-out items */
    align-items: center; /* Vertically center align items */
}
nav ul li {
    display: inline-block;
    list-style-type: none;
}
nav ul li a {
    padding: 5px;
    margin: 25px;
    color: #4c566a;
    text-decoration: none;
    font-size: 1.5em;
    
}
nav ul li button{
    padding: 5px;
    margin: 25px;
    border: none;
    border-radius: 10px;

    display: inline-block;
}
nav ul li img{
    width: 20%;
    margin: auto;
}
nav ul li:first-child {
    margin-right: auto;
}

nav a:hover{
    transition: 1s;
    background-color: #abafb4;
    border-radius: 10px;
}

nav ul li button img {
    width: 30px;
    height: 30px;
}

/*
    Modos día/noche
*/
#modes {
    float: right;
}


/*  
    ========================================================
                ==   Sección MAIN       ==
    ========================================================
*/


#pnlImagen {
    clear: right;
    position: relative;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    width: 40%;
    height: auto;
    box-shadow: 0px 5px 13px 5px;
    border-radius: 12px;
}

#pnlImagen img {
    width: 100%;
    height: auto;
    border-radius: 12px;

    /*margin: 20px 50px 20px 50px;*/
}

/*  
    ========================================================
                **  Paneles de Botones    **
    ========================================================
*/

#pnlBotones {
    margin: auto;
    margin-top: 20px;
    background-color: white;
    width: 40%;
    height: 150px;
    border-radius: 10px;
    box-shadow: 0px 5px 13px 5px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    
}
#pnlBotones > button {
    flex: 30%;
    margin: 0 30px;
}
#pnlBotones button{
    cursor: pointer;
    color: white;
    padding: 0.5em 1em;
    border: none;
    border-radius: 0.5em;
    font-size: 1em;
    background-color: #059dfc;
    
}
button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    transition: 0.3s;
}

#btnCorrect {
    background-color: rgb(94, 207, 94) !important; 
    color: white;
}

#btnIncorrect {
    background-color: rgb(235, 88, 88) !important;
    color: white;
}
#team1, #team2 {
    position: relative;
    padding: 0.5em 1em;
    font-size: 1em;
    border: none;
    border-radius: 0.5em;
    color: white;
    background-color: rgb(59, 93, 248);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
    cursor: pointer;
  }
#team1:active, #team2:active, .active {
  top: 2px;
  left: 1px;
  box-shadow: none;
}


.toggleEquipos {
    width: 100%;
    padding: 25px;
    background-color: #e5e5e5;
    color: white;
    font-size: 25px;
    text-align: center;
}

/*  
    ========================================================
                ==   Sección FOOTER       ==
    ========================================================
*/

footer {
    margin-top: 5%;
    position: relative;
    background-color: #eceff4;
    width: 100%;
    min-height: 100px;
    display: flex;
    align-items: center;
}
footer p{

    margin-left: auto;
    margin-right: 29%;

}

footer div a img{
    width: 100%;
    height: 100px;
    float: right;
}
#imgTam {
    width: 10%;
}