/**
    Proyecto para las FlashCards
    Licencia: GPL v3
*/
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&display=swap');
* {
   /* box-sizing: border-box;*/
    margin: 0;
    padding: 0;
}

body {
   
    /* RESOLUCIÓN */
    height: 100%;
    font-family: Rubik;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-image: url('../img/AdobeStock_260966672.jpeg')
}

/*  
    ========================================================
                ==   Sección NAV       ==
    ========================================================
*/

nav {
    background-color: #ECEFF4;
    width: 100%;
    height: 100px;
    display: flex;
    
    
}
nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; /* Horizontally space-out items */
    align-items: center; /* Vertically center align items */
}
nav ul li {
    display: inline-block;
    list-style-type: none;
}
nav ul li a {
    padding: 5px;
    margin: 25px;
    color: #4c566a;
    text-decoration: none;
    font-size: 1.5em;
    display: block;
}
nav ul li button{
    padding: 5px;
    margin: 25px;
    border: none;
    border-radius: 10px;

    display: inline-block;
}
nav ul li img{
    width: 20%;
    margin: auto;
}
nav ul li:first-child {
    margin-right: auto;
}

nav a:hover{
    transition: 1s;
    background-color: #abafb4;
    border-radius: 10px;
}

nav ul li button img {
    width: 30px;
    height: 30px;
}

/*
    Modos día/noche
*/
#modes {
    float: right;
}

/*  
    ========================================================
                ==   Sección FOOTER       ==
    ========================================================
*/

footer {
    margin-top: 10%;
    background-color: #eceff4;
    position: absolute;
    width: 100%;
    bottom: 0;
    display: flex;
    align-items: center;
}
footer span{
    margin: auto;
    padding-left: 200px;
}
footer img{
    width: 15%;
    height: auto;
}
footer img:first-child{
    margin-left: auto;
}

#imgTam {
    width: 10%;
}